@{
    ViewBag.Title = "about";
}
<h3>about</h3>

<p>
    <a href="https://github.com/RandomFractals/AdventureWorks">https://github.com/RandomFractals/AdventureWorks</a>
</p>

<h3>contact</h3>

<address>
    <a href="https://twitter.com/TarasNovak">https://twitter.com/TarasNovak</a>
</address>
