@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Adventureworks ASP.NET Web Application</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sales Orders</h2>
        <p>
            You can see all Sales Orders in the database and find the details.
        </p>
        <p><a class="btn btn-default" href="~/SalesOrders/Index">Sales</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Find the list of customers in the AdventureWorks Database and get the details about the customer and his orders.</p>
        <p><a class="btn btn-default" href="~/Customer/Index">Customers</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dapper</h2>
        <p>This appliaction is implemented using Dapper ORM framework.</p>
        <p><a class="btn btn-default" href="https://github.com/StackExchange/Dapper">Learn more &raquo;</a></p>
    </div>
</div>